vgg16/vgg16.weight filter=lfs diff=lfs merge=lfs -text
results/Rain100L/net_best_Rain100L.pth filter=lfs diff=lfs merge=lfs -text
results/Rain800/net_best_Rain800.pth filter=lfs diff=lfs merge=lfs -text
